################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/EmptyApp/.vs/EmptyApp
/Samples/EmptyApp/bin/Debug/netcoreapp2.2
/Samples/EmptyApp/obj
/Samples/WebApiApp/.vs/WebApiApp
/Samples/WebApiApp/bin/Debug/netcoreapp2.2
/Samples/WebApiApp/obj
/.vs
/Lms/LmsApp/Common/bin/Debug
/Lms/LmsApp/Common/obj
/Lms/LmsApp/LmsApp/bin/Debug/netcoreapp2.2
/Lms/LmsApp/.vs/LmsApp
/Lms/LmsApp/Model/bin/Debug
/Lms/LmsApp/Model/obj
/Lms/LmsApp/RequestModel/bin/Debug
/Lms/LmsApp/RequestModel/obj
/Lms/LmsApp/LmsApp/obj
/Lms/LmsApp/ViewModel/bin/Debug/netcoreapp3.0
/Lms/LmsApp/ViewModel/obj
/Lms/LmsApp/Service/bin/Debug/netcoreapp3.0
/Lms/LmsApp/Service/obj
